# Gradle
.gradle/
build/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

# Eclipse / IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp